.cabeçalho_meucabeçalho_menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;

}
.cabeçalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}
.container{
    display: flex;
    align-items: center;
}

.container_imagem{
    padding: 1em;

}
.lista-menu{
    display: none;
    position: absolute;
    top:100%;
    width: 60vw;
}
.container_botao:checked ~ .lista-menu{
    display: block;
}
.lista-menu__titulo, .lista-menu__item{
    padding: 1em;
    background-color: var(--branco);
    text-transform: uppercase;
    
}
.lista-menu__titulo{
  color: var(--laranja);
  font-weight: 700;
}
.lista-menu__link{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    

}
.container_botao{
    display: none;
}
.container__titulo{
    display: none;
}
.opcoes{
    display: none;
}


@media screen and (min-width:1024px){
    .container__titulo,.container__titulo--negrito{
        font-family: var(--font-secundaria);
        font-size: 30px;
    }
    .container__titulo{
        font-weight: 400;
        display: block;
    }
    .container__titulo--negrito{
        font-weight: 700;
    }
    .opcoes{
        display: flex;
    }
    .opcoes__itens{
        padding: 0 1em;
        text-transform: uppercase;

    }
    .opcoes__link{
        text-decoration: none;
        color: var(--preto);
    }
    .container_imagem--transparente{
        display: none;
    }
    .cabeçalho_menu-hamburguer{
        display: none;
    }
    .opacao__botao:checked ~ .lista-menu{
        display: block;
        width: auto;
    }
    .opacao__botao{
        display: none;
    }
    .divisao__rodape{
        display: none;
    }
}

@media screen and (min-width:1078px) {

    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }
    .cabeçalho{
        padding: 0 2em;   
    }

    .opcoes{
        margin-right: auto;
    }
    .conato__email{
        display: none;
    }

   
    
}